.footer {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.footer__content,
.footer__social-block {
  border-radius: var(--radius);
}

.footer__content {
  position: relative;
  padding: 80px 110px 105px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--color-white);
  background: var(--gradient);
}

.footer__content::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: -12%;
  height: 662px;
  width: 729px;
  display: block;
  background-image: url("../../img/hero-man.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.footer__title {
  margin: 0;
  max-width: 570px;
  font-size: 3.2rem;
  line-height: 1.5;
}

.footer__title--accent {
  color: var(--color-primary);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  line-height: 1.2;
}

.footer__item {
  font-size: 1.3rem;
  font-weight: 400;
}

.footer__tel {
  position: relative;
  font-size: 1.8rem;
  white-space: nowrap;
  color: var(--color-white);
  z-index: 1;
}

.footer__card {
  position: absolute;
  top: 50%;
  right: 1%;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 20px 20px 45px;
  background: var(--gradient);
  border-radius: 1500px;
  transform: translateY(-50%);
  z-index: 2;
}

.footer__name {
  font-size: 1.5rem;
}

.footer__job {
  margin: 0;
  color: var(--color-gray-500);
  font-size: 1.25rem;
}

.footer__social-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 25px;
  padding: 20px;
  background-image: linear-gradient(60deg, rgba(2, 8, 21, 0.9), transparent),
    url("../../img/footer-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__social-text {
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
  color: var(--color-white);
}

.footer__btn {
  padding: 40px;
  background-color: var(--color-blue-300);
  border-radius: 1500px;
}

.extra-btns {
  display: none;
}
