.main-slider-arrow {
  height: 3em;
  width: 3em;
  background: transparent;
  opacity: 1;
  transition: 0.3s;
}

.main-slider-arrow:hover {
  background: var(--color-gray-600);
}

.main-slider__arrow-img {
  width: 18px;
  height: 18px;
}
